<div class="screen-overlay"></div>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products</h2>
    </div>
    <div>
      <a href="/admin/add-product" class="btn btn-primary btn-sm rounded">Create new</a>
    </div>
  </div>
  <div class="card mb-4" >
    <div class="card-body" >
      <table class="table table-bordered"  >
        <thead >
          <tr>
            <th>
              No.
            </th>
            <th>
              Image
            </th>
            <th>
              Name
            </th>
            <th>
              Brand
            </th>
            <th>
              Price
            </th>
            <th>
              Quantity
            </th>
            <!-- <th>
              Catogory
            </th> -->
            <th>
              <!-- <button>btn</button> -->
            </th>
          </tr>
        </thead>
        <tbody>
          <% product.forEach((item,index)=>{%>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <img style="border-radius:0;height: 100px;width: 100px;" src="/productImages/<%= item.img[0] %>" alt="img">
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.brand %>

            </td>
            <td>
              ₹<%= item.price%>
            </td>
            <td style="padding-left: 30px;">
              <%= item.quantity %>
            </td>

            <td>
              <%= item.category %>
            </td>

            <td>
              <a href="/admin/editProduct/<%=item._id%>"> <button class="btn btn-info btn-sm">Edit</button></a>

              <% if (item.unlist) {%> 

              <a href="#" onclick="unlistProduct('<%= item._id %>',false)"><button class="btn btn-success btn-sm">Unlist</button></a>
              <%} else {%>

              
              <a href="#" onclick="unlistProduct('<%= item._id %>',true)"><button class="btn btn-danger btn-sm">List</button></a>

                  <%}%>


            </td>
          </tr>
          <% })%>
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->

</section> <!-- content-main end// -->

<script>
  function unlistProduct(proId, condition)
  {
    console.log(proId, condition);
    $.ajax({
      url:'/admin/unlistProduct/',
      method: 'PUT',
      data:{
        proId:proId,
        condition:condition
      },
      success:(product)=>
      {
        console.log(product);
        location.reload()
      }
      
    })
  }
</script>